*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

header{
  background-color: #141414;
}

.containerHeader{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.logoHeader{
  text-decoration: none;
  color: #04D361;
  font-size: 24px;
  padding: 5px;
  font-weight: bold;
}

.logoHeader:hover{
  color: #9733F7
}

.linkPrincipal{
  text-decoration: none;
  color: #EEEEEE;
  font-size: 16px;
  margin-left: 1rem;
  padding: 5px;
}

.linkPrincipal:hover{
  color: #9733F7;
}

.titulo{
  text-align: center;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 36px;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

.desc{
  text-align: center;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 4rem;
}

.descricao{
  height: auto;
  background: url(../img/frase.jpg) center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: color;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerSecHeader{
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 0;

}

.description > p{
  color: #FFFFFF;
  font-size: 48px;
  font-style: italic;
  text-align: center;
}

.description .autor{
  color: #01FF95;
  font-size: 36px;
  font-style: normal;
  text-align: center;
  margin-top: 0.5rem;
}

.lancamento{
  background-color: #141414;
}

.containter-lancamento{
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

.musicas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.playlist{
  background-color: #262626;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

.playlists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.artistas-prev{
  background-color: #343434;
}

.artistas-prev-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

.artistas-prev-fotos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.artistas-prev-fotos > div > img{
  width: 100%;
  border-radius: 50%;
}

.artistas-prev-fotos > div > p{
  text-align: center;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 4rem;
  margin-top: 1rem;
  font-weight: 300;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-conhecer{
  font-size: 18px;
  font-weight: bold;
  padding: .5rem;
  background-color: #04D361;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

#btn-conhecer:hover{
  background-color: #9733F7
}

.main_form{
  background-color: #262626;
}
.container_form{
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form{
  border-radius: 5px;
  width: 600px;
  background-color: #343434;
}

.div-form{
  padding: 2rem;
}

.div-info-one > div{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-descricao{
  padding: 0 2rem 2rem 2rem;
}

label{
  color: #EEEEEE;
  font-size: 18px;
  padding: .5rem;
}

input{
  padding: .5rem;
  border: none;
  border-radius: 5px;
  margin: .5rem;
  width: 100%;
  font-size: 16px;
}

.input-descricao{
  padding: .5rem;
  border: none;
  border-radius: 5px;
  margin: .5rem;
  width: 100%;
  font-size: 16px;
  height: 200px;
}

.btn-form{
  padding: 0 2rem 2rem 2rem;
}

.btn-enviar{
  font-size: 18px;
  font-weight: bold;
  padding: .7rem;
  background-color: #04D361;
  border: none;
  color: #EEEEEE;
  border-radius: 5px;
  cursor: pointer;
  margin: .5rem;
}
.btn-enviar:hover{
  background-color: #9733F7;
}

footer {
  background-color: #141414;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  height: 5rem;
}

.ul-redes {
  display: flex;
}

.redes-icon {
  margin-right: 20px;
}

footer p {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  margin: 0 auto;
}

footer p span {
  color: #04D361;
}

i {
  font-size: 40px;
  color: #04D361;
  border-radius: 50%;
}

i:hover{
  color: #9733F7;
}